Package: com.kef.mailconfirm
Name: MailConfirm
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Kef
Author: Kef
Section: Tweaks
